@use "sass:math";

.app {
  display: flex;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.wrapper {
  height: 100vh;
  background-color: white;
  border-right: 1px solid #ababab;
  padding: 10px 20px 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.bubble {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 14px;
  cursor: pointer;
  transition: .4s;

  &:hover {
    transition: .4s;
    transform: scale(1.2);
  }
}

:global(.btn){
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  transition: .3s ease;
}


.active {
  :global(.btn) {
    transform: rotate(225deg);
  }

  @for $i from 1 through 6 {
    .bubble:nth-child(#{$i}) {
      top: #{$i*35}px;
      transition: #{math.div($i, 10)+0.1}s ease;
    }
  }
}
